/*========================================*/
/*----------- 7. Home Slider -------------*/
/*========================================*/

.slider-wrapper {
  height: 650px;
  background-color: #ddd;
  background-position: center center;
  background-size: cover;
}
.slider-wrapper h4 {
  color: #fff;
  font-size: 20px;
}
.slider-wrapper h1 {
  font-size: 84px;
  color: #fff;
  line-height: 90px;
}