/*========================================*/
/*----------- 9. Service Section -------------*/
/*========================================*/
.service-icon {
  margin-top: 5px;
}
.service-icon i {
  background: #243559;
  color: #fff;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
}
.service-description {
  margin-left: 30px;
}
.service-description .title {
  margin-bottom: 10px;
}